@font-face {
  font-family: OpenSansLight;
  src: url("fonts/open_sans/OpenSans-Light.ttf");
}
@font-face {
  font-family: OpenSansRegular;
  src: url("fonts/open_sans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: GilroyExtraBold;
  src: url("fonts/gilroy/Gilroyextrabold.ttf");
}
@font-face {
  font-family: GilroyLight;
  src: url("fonts/gilroy/Gilroylight.ttf");
}
body {
  margin: 0;
  font-family: "OpenSansLight", "Roboto", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
header{
  background-color: #f7e296;
  background-image: url("../img/yellow-font.jpg");
}

h2{
  font-size: 47px;
  line-height: 48px;
  font-family: "GilroyExtraBold", "Roboto", sans-serif;
  font-weight: 800;
   color: #000000;
}

main {
  background-color: #ffffff;
}

.selfie-tittle {
  line-height: 56px;
}
.header-navigation li,
.header-catalog li {
  list-style: none;
}

 .header-catalog{
   font-family: "GilroyExtraBold", "Roboto", sans-serif;
   font-size: 18px;
   line-height: 24px;
   letter-spacing: 3.6px;
   font-weight: 800;
   text-transform: uppercase;
   color: #000000;
}
.header-navigation a,
.header-catalog a{
  color: #000000;
}

.catalog-hidden li{
  font-family: "OpenSansLight", "Roboto", sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: #000000;
}

.header-navigation a:hover,
.header-catalog a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header-navigation a:active,
.header-catalog a:active {
  color: rgba(0, 0, 0, 0.3);
}

.trans-company li{
  font-family: "GilroyExtraBold", "Roboto", sans-serif;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
  list-style: circle;
}

.about-us,
.write-us{
  font-family: "GilroyExtraBold", "Roboto", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 3.6px;
  background-color: #f0c52e;
}

footer {
background-color: #464646;
}

footer a{
  color: #ffffff;
}

footer li{
  list-style: none;
}

.footer-menu {
  font-family: "GilroyExtraBold", "Roboto", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.footer-menu a:hover,
.footer-nav a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-menu a:active,
.footer-nav a:active {
  color: rgba(255, 255, 255, 0.3);
}
footer p{
  color: #ffffff;
}


