/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy-Light"), url("../fonts/Gilroy-Light.woff2") format("woff2"),
    url("../fonts/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy-ExtraBold"),
    url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"),
    url("../fonts/Gilroy-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Light"), local("OpenSans-Light"),
    url("../fonts/OpenSans-Light.woff2") format("woff2"),
    url("../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), local("OpenSans"),
    url("../fonts/OpenSans.woff2") format("woff2"),
    url("../fonts/OpenSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline-color: inherit;
}

body {
  margin: 0 auto;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.map {
  border: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-title {
  padding: 0;
  margin: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.47px;
  color: #000000;
  margin-left: 60px;
  margin-top: 36px;
  margin-bottom: 24px;
}

.main-header {
  width: 1160px;
  position: relative;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 34px;
  padding-bottom: 50px;
  background-color: #f7e296;
  background-image: url("../img/yellow-font.jpg");
}

.logo {
  position: absolute;
  top: -18px;
  cursor: pointer;
}

.logo:hover,
.logo:focus {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.section-title {
  margin: 0;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.47px;
}

.header-list {
  margin: 0;
  padding: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 0.15px;
}

.header-menu-contacts {
  margin-right: -4px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container:last-of-type {
  margin-top: 30px;
}

.user-container,
.catalog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.services li {
  padding-right: 34px;
}

.services {
  margin-left: 20px;
}

.divide li:first-child {
  margin-right: 40px;
}

.right-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.right-icon:after {
  content: "";
  width: 16px;
  height: 16px;
  background: red;
  display: block;
}

.icon-plus:after {
  background: url(../img/plus.png) no-repeat center;
  margin-left: 12px;
  opacity: 0.3;
}

.icon-user svg {
  margin-right: 14px;
}

.icon-compare svg {
  margin-right: 6px;
}

.icon-cart svg {
  margin-right: 9px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-line {
  color: #000000;
  opacity: 0.3;
  background-color: transparent;
  border: none;
  border-bottom: solid 2px transparent;
  height: 49px;
  background: url("../img/search.svg") no-repeat center left 4px;
  padding-left: 37px;
  outline: none;
  width: 356px;
}

.search-line:hover {
  opacity: 0.6;
}

.search-line:focus {
  opacity: 1;
  border-bottom-color: #000000;
}

.search-line:focus + .search-btn {
  opacity: 1;
}

.search-btn {
  opacity: 0;
  font-size: 15px;
  font-weight: 300;
  padding: 0 21px;
  height: 49px;
  width: 85px;
  border: solid 2px #000000;
  background-color: transparent;
  color: #000000;
  cursor: pointer;
  letter-spacing: 0.15px;
  outline: none;
}

.search-btn:hover,
.search-btn:focus {
  background-color: #000000;
  color: #ffffff;
  outline: none;
  opacity: 1;
}

.search-btn:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.header-menu,
.btn,
.footer-menu,
.offer {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.header-navigation a,
.header-menu a {
  color: #000000;
}

.header-list-item:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 18px;
  letter-spacing: 0.15px;
}

.header-list-item:first-child a:nth-of-type(2) {
  margin-left: 20px;
  opacity: 0.3;
}

.main-wrapper {
  min-width: 1200px;
}

.wrapper {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.catalog-hidden {
  width: 1160px;
  position: absolute;
  display: none;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: #000000;
  text-transform: none;
  background: #f7e296;
  width: 100%;
  left: 0;
  padding: 28px 60px 28px;
  z-index: 3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: row;
  min-height: 169px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  letter-spacing: 0.15px;
}

.catalog-hidden ul {
  margin: 0;
  padding: 0;
}

.catalog-hidden li {
  margin-right: 58px;
  list-style: none;
}

.header-list li:first-of-type:hover > .catalog-hidden {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-navigation a:focus,
.header-menu a:focus,
.header-navigation a:hover,
.header-menu a:hover {
  outline: none;
  opacity: 0.6;
}

.header-navigation a:active,
.header-menu a:active {
  opacity: 0.3;
}

.btn {
  color: #000000;
  background-color: transparent;
  outline: none;
  position: relative;
  padding: 8px 0;
  border: none;
  cursor: pointer;
}

.btn span {
  position: inherit;
  z-index: 2;
}

.cart-btn {
  padding-left: 50px;
}

.btn:before {
  content: "";
  width: 100%;
  height: 8px;
  display: block;
  background-color: #f0c52e;
  position: absolute;
  top: 50%;
  left: 0px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
  -webkit-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}

.btn:hover:before,
.btn:focus:before {
  height: 100%;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.wallpaper {
  background-color: #e5e5e5;
  min-height: 288px;
  margin-top: 183px;
  position: relative;
}

.delivery-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.delivery-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 284px;
  min-width: 284px;
  border-right: 7px solid #000000;
  padding-top: 80px;
  padding-bottom: 70px;
  position: relative;
  margin-top: -101px;
  padding-left: 0px;
}

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  margin-bottom: 25px;
  background: transparent;
  border: none;
  width: 160px;
  padding-left: 1px;
}

.slider-list-2 {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slides-2 {
  display: none;
}

.offer:active:before,
#slide-4:checked ~ .delivery-wrapper .offer[for="slide-4"]:before,
#slide-5:checked ~ .delivery-wrapper .offer[for="slide-5"]:before,
#slide-6:checked ~ .delivery-wrapper .offer[for="slide-6"]:before {
  background-color: #000000;
  width: 278px;
  height: 100%;
  color: #f7e184;
}

.offer:active,
#slide-4:checked ~ .delivery-wrapper .offer[for="slide-4"],
#slide-5:checked ~ .delivery-wrapper .offer[for="slide-5"],
#slide-6:checked ~ .delivery-wrapper .offer[for="slide-6"] {
  color: #f7e184;
}

#slide-4:checked ~ .delivery-wrapper #item-1,
#slide-5:checked ~ .delivery-wrapper #item-2,
#slide-6:checked ~ .delivery-wrapper #item-3 {
  display: block;
}

.offer:last-of-type {
  margin-bottom: 0;
}

.delivery-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.delivery-info {
  margin-top: -27px;
  margin-left: 118px;
  margin-right: 138px;
}

.delivery-info p {
  letter-spacing: 0.15px;
  text-align: left;
  margin-left: -2px;
}

.delivery-img {
  margin-top: -15px;
}

.warranty-img {
  margin-top: -38px;
}

.credit-img {
  margin-top: -35px;
}

.delivery-info h2 {
  margin-bottom: 31px;
}

.partners-holder {
  margin-top: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.partners-holder a {
  outline: none;
  -webkit-filter: grayscale(1);
  filter: /*grayscale(1);*/ gray;
  opacity: 0.2;
}

.partners-holder a:hover,
.partners-holder a:focus {
  -webkit-filter: none;
  filter: none;
  opacity: 1;
}

.line-block:before {
  content: "";
  display: block;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.position {
  margin-top: 45px;
  margin-bottom: 44px;
  margin-left: -2px;
}

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 85px 20px 81px;
}

.information p {
  padding-bottom: 31px;
  margin: 0;
}

.information p:last-of-type {
  padding-bottom: 40px;
}

.information-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 50%;
  margin-right: -20px;
}

.map-img {
  cursor: pointer;
}

.write-us,
.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 31px;
  margin-left: 1px;
  width: 260px;
}

.hidden {
  display: none;
}

.about-us-list {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 800;
  color: #000000;
  margin-top: 30px;
  padding-left: 3px;
  list-style: none;
}

.about-us-list li {
  padding-bottom: 10px;
}

.about-us-list li:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 8px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  margin-right: 25px;
}

.slider-wrapper {
  position: relative;
}

.slider-wrapper:before {
  content: "";
  width: 100%;
  background: #f7e296;
  position: absolute;
  height: 112px;
  top: -1px;
  left: 0;
}

.slide-number {
  position: absolute;
  right: 47px;
  top: 9px;
  font-size: 179px;
  line-height: 0.75;
  letter-spacing: 1.79px;
  font-weight: 800;
  color: #fff;
  font-family: "Gilroy", "Arial", sans-serif;
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
  padding: 0 79px 0 90px;
}

.slide-watch {
  padding-left: 94px;
}

.slide-quatro {
  padding-left: 5px;
  padding-right: 60px;
  padding-bottom: 5px;
}

.selfie-img {
  margin-right: 125px;
  width: 384px;
  height: 486px;
}

.clock-img {
  margin-right: 160px;
  width: 345px;
  height: 485px;
}

.quatro-img {
  margin-right: 58px;
  margin-top: 60px;
  margin-left: 10px;
  width: 526px;
  height: 334px;
}

.slide-description {
  position: relative;
  padding-top: 37px;
}

.slide-description:before {
  content: "";
  display: block;
  width: 100px;
  height: 7px;
  background-color: #fff;
}

.slide-description p {
  margin: 0;
  margin-bottom: 43px;
  letter-spacing: 0.15px;
}

.slide-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.47px;
  font-weight: 800;
  color: #000000;
  margin: 36px 0 19px;
  font-stretch: normal;
}

.slider-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  top: 327px;
  right: 82px;
  width: 80px;
  z-index: 3;
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slide-btn input[type="radio"] {
  display: none;
}

.slider-controls label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #000;
  cursor: pointer;
  height: 12px;
  width: 12px;
}

.slider-controls label:before {
  content: "";
  display: block;
  background-size: contain;
  height: 6px;
  border-radius: 50%;
  width: 6px;
}

.slides {
  display: none;
}

.slides {
  margin: 0;
  padding: 0;
}

#slide-1:checked ~ .slider-wrapper label[for="slide-1"]:before,
#slide-2:checked ~ .slider-wrapper label[for="slide-2"]:before,
#slide-3:checked ~ .slider-wrapper label[for="slide-3"]:before {
  border: 1px solid #000;
  background-color: #ffffff;
}

#slide-1:focus ~ .slider-wrapper label[for="slide-1"],
#slide-2:focus ~ .slider-wrapper label[for="slide-2"],
#slide-3:focus ~ .slider-wrapper label[for="slide-3"] {
  outline: auto;
}

#slide-1:checked ~ .slider-wrapper #product-1,
#slide-2:checked ~ .slider-wrapper #product-2,
#slide-3:checked ~ .slider-wrapper #product-3 {
  display: block;
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 220px;
  margin-left: 2px;
}

.slide-btn input {
  margin-right: 21px;
}

.selfie-description {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36px;
  color: #000000;
}

.selfie-feature {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
  text-align: left;
}

.table {
  margin-top: 49px;
  margin-left: -2px;
}

.selfie-description td:not(:last-child) {
  padding-right: 74px;
  padding-top: 0px;
}

.catalog-section {
  margin-top: 107px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: top;
  -ms-flex-align: top;
  align-items: top;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
  font-weight: 800;
  color: #000000;
  list-style: none;
}

.catalog-product {
  color: #000000;
  display: block;
  outline: none;
}

.catalog-product:focus .catalog-image-wrapper,
.catalog-product:hover .catalog-image-wrapper {
  background-color: #f0c52e;
}

.catalog-product:active .catalog-image-wrapper:before,
.catalog-product:active h3 {
  opacity: 0.3;
}

.catalog-section li {
  width: 160px;
}

.catalog-section h3 {
  margin: 0;
  margin-top: 34px;
  font-size: 18px;
  padding-left: 0px;
  line-height: 1.33;
  letter-spacing: 0.18px;
}

.catalog-image-wrapper {
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f7e296;
}

.catalog-image-wrapper:before {
  content: "";
  display: block;
  position: absolute;
  background-repeat: no-repeat;
}

.glasses:before {
  background-image: url("../img/popular-1.svg");
  width: 97px;
  height: 55px;
  top: 52px;
  left: 31px;
}

.stick:before {
  background-image: url("../img/tel-holder.svg");
  width: 86px;
  height: 117px;
  top: 41px;
  left: 38px;
}

.camera:before {
  background-image: url("../img/camera.svg");
  width: 71px;
  height: 87px;
  top: 38px;
  left: 49px;
}

.cardio:before {
  background-image: url("../img/cardio-watch.svg");
  width: 107px;
  height: 65px;
  top: 50px;
  left: 28px;
}

.watch:before {
  background-image: url("../img/watch.svg");
  width: 56px;
  height: 98px;
  top: 32px;
  left: 55px;
}

.quatro:before {
  background-image: url("../img/quadcopter.svg");
  width: 132px;
  height: 69px;
  top: 49px;
  left: 13px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 59px;
  font-size: 14px;
  line-height: 24px;
  list-style: none;
}

.breadcrumbs li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.breadcrumbs li:not(:last-child):after {
  content: "";
  display: block;
  width: 4px;
  height: 7px;
  background: url("../img/nav-arrow.svg") no-repeat center;
  margin: 0 16px;
}

.breadcrumbs a {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:focus,
.breadcrumbs a:hover {
  outline: none;
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: #000000;
}

.breadcrumbs p {
  color: rgba(0, 0, 0, 0.3);
  margin: 0;
}

.filter-wrapper {
  background-color: #efefef;
}

.filter {
  width: 328px;
  padding-left: 56px;
  padding-top: 68px;
}

.filter li {
  color: #000000;
}

.filter-font {
  padding: 24px 0 24px 60px;
  background-color: #d9d9d9;
}

.fieldset {
  border: none;
  padding: 0;
  width: 201px;
}

.fieldset label {
  cursor: pointer;
}

.range-filter {
  width: 196px;
  padding-bottom: 29px;
}

.range-controls {
  position: relative;
  height: 23px;
  padding-top: 13px;
  padding-bottom: -2px;
}

.range-controls .scale {
  height: 2px;
  background: #dbdbdb;
}

.range-controls .bar {
  width: 60%;
  height: 2px;
  background: #91c92f;
}

.range-controls .toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: border 0.3s, width 0.3s, height 0.3s;
  -o-transition: border 0.3s, width 0.3s, height 0.3s;
  transition: border 0.3s, width 0.3s, height 0.3s;
}

.range-controls .toggle:active {
  border: 9px solid #ffffff;
  width: 22px;
  height: 22px;
}

.range-controls .toggle-min {
  left: 0px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls label {
  display: inline-block;
  vertical-align: middle;
  width: 44%;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  color: rgba(0, 0, 0, 0.2);
}

.price-controls input[type="number"] {
  display: none;
}

.color {
  margin-bottom: 37px;
}

.color li {
  margin-bottom: 10px;
}

.color label,
.bluetooth label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: 0.14px;
  font-size: 14px;
}

.color label::before {
  display: block;
  content: "";
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  width: 27px;
  height: 23px;
  margin-right: 13px;
}

.color input[type="checkbox"]:checked ~ label:before {
  background-image: url("../img/checkbox-on.svg");
}

.color input[type="checkbox"]:focus ~ label,
.bluetooth input[type="radio"]:focus ~ label {
  opacity: 0.6;
}

.color label:hover,
.bluetooth label:hover {
  opacity: 0.6;
}

.color input[type="checkbox"]:disabled ~ label,
.bluetooth input[type="radio"]:disabled ~ label {
  opacity: 0.25;
  pointer-events: none;
}

.color label:active,
.bluetooth label:active {
  color: #000000;
  opacity: 1;
}

.bluetooth label::before {
  display: block;
  content: "";
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  margin-right: 16px;
}

.bluetooth input[type="radio"]:checked ~ label:before {
  background-image: url("../img/radio-on.svg");
}

.bluetooth li:not(:last-of-type) {
  margin-bottom: 10px;
}

.filter-point {
  padding: 0;
  margin: 0;
}

.filter-color {
  margin-bottom: 22px;
  width: 100%;
}

.filter-color:before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  margin-bottom: 10px;
}

.filter-btn {
  margin-top: 37px;
  width: 200px;
  margin-left: 3px;
}

.main-page {
  color: rgba(0, 0, 0, 0.3);
}

.filter-item,
.pagination-figuration {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  margin: 0;
  line-height: 24px;
  letter-spacing: 3.2px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
}

.filter-color,
.catalog-items a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  font-weight: 800;
  color: #000000;
}

.filter-sorting {
  background-color: #efefef;
  padding: 24px 0 24px 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 71px;
}

.up-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-left: 54px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: center;
}

.sort li {
  margin: 0;
  margin-right: 30px;
  padding: 0;
}

.sort a {
  margin: 0;
  padding: 0;
}

.up,
.down {
  width: 11px;
  height: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  opacity: 0.2;
  padding: 0;
  font-size: 10px;
  background: url(../img/icon-down-dir.svg) no-repeat center;
}

.up {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-right: 19px;
}

.selected {
  color: #000000;
  opacity: 1;
}

.up:hover,
.down:hover,
.up:focus,
.down:focus {
  opacity: 0.4;
}

.up:active,
.down:active {
  opacity: 1;
}

.filter-point a {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.filter-point .active,
.pagination .active {
  color: #000000;
}

.filter-point a:hover,
.pagination a:hover,
.filter-point a:focus,
.pagination a:focus {
  outline: none;
  color: rgba(0, 0, 0, 0.6);
}

.filter-point a:active,
.pagination a:active {
  color: #000000;
}

.direction:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-colums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 2;
  position: relative;
}

.catalog-wrapper {
  background: -o-linear-gradient(left, #efefef 50%, #ffffff 50%);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(50%, #efefef),
    color-stop(50%, #ffffff)
  );
  background: linear-gradient(90deg, #efefef 50%, #ffffff 50%);
  position: relative;
}

.catalog-wrapper:before {
  content: "";
  display: block;
  height: 71px;
  width: 100%;
  background: -o-linear-gradient(left, #d9d9d9 50%, #efefef 50%);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(50%, #d9d9d9),
    color-stop(50%, #efefef)
  );
  background: linear-gradient(90deg, #d9d9d9 50%, #efefef 50%);
  position: absolute;
  top: 0;
  z-index: 1;
}

.catalog {
  background: #ffffff;
  padding-bottom: 77px;
}

.catalog-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 832px;
  margin: 0;
  margin-top: 69px;
  padding: 0;
  padding-left: 72px;
}

.catalog-items li:nth-child(2n) {
  margin-right: 0;
}

.catalog-items li {
  margin: 0;
  list-style: none;
  color: #000000;
  width: 360px;
  margin-right: 40px;
  margin-bottom: 28px;
  cursor: pointer;
}

.catalog-items li:last-of-type {
  margin-bottom: 18px;
}

.name-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 23px;
}

.price {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  white-space: nowrap;
  margin-left: 20px;
  color: #464646;
  letter-spacing: 0.16px;
}

.catalog-item {
  position: relative;
}

.catalog-item.new:before {
  content: "NEW";
  color: rgba(0, 0, 0, 0.2);
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.71;
  letter-spacing: 0.7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 14px;
  position: absolute;
  top: 28px;
  right: 27px;
  width: 60px;
  height: 61px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.catalog-item:hover .catalog-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-action {
  position: absolute;
  width: 360px;
  height: 380px;
  top: 0;
  background-color: rgba(255, 255, 255, 0.7);
  padding-top: 40px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  cursor: pointer;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.catalog-action .btn {
  width: 200px;
}

.add-compare {
  font-size: 13px;
  font-weight: 300;
  line-height: 2.77;
  letter-spacing: 0.13px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  background: transparent;
  outline: none;
  cursor: inherit;
}

.add-compare:focus,
.add-compare:hover {
  color: rgba(0, 0, 0, 1);
}

.add-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.pagination-figuration {
  background-color: #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 72px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 559px;
  margin: 0;
  padding: 0;
}

.pagination li {
  margin: 0 14px;
}

.pagination a {
  color: rgba(0, 0, 0, 0.3);
}

.direction {
  color: #000000;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 136px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.direction:hover,
.direction:focus {
  background-color: #d9d9d9;
}

.footer,
.footer-link,
.footer-menu {
  color: #ffffff;
  background-color: #464646;
  margin: 0px;
}

.footer {
  min-width: 1200px;
  padding-top: 65px;
  padding-bottom: 65px;
}

.footer ul {
  margin: 0;
  padding: 0;
}

.part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  letter-spacing: 0.15px;
}

.part-item:first-child {
  margin-right: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.part-item:first-child a:nth-of-type(2) {
  margin-left: 21px;
  opacity: 0.3;
}

.part-item:nth-child(2) {
  margin-right: 38px;
}

.part a {
  color: #ffffff;
  opacity: 0.7;
}

.part a:focus,
.part a:hover {
  outline: none;
  opacity: 1;
}

.part a:active {
  opacity: 0.3;
}

.footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 0px;
}

.footer-row:nth-child(2) {
  margin-top: 22px;
  margin-bottom: 59px;
}

.footer-row p,
.footer-row ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-row:last-child:before {
  content: "";
  width: 80px;
  height: 7px;
  background-color: #ffc600;
  margin-top: -3px;
}

.logo-fill,
.html-fill {
  fill: #ffc600;
}

.footer-logo:focus,
.footer-logo:hover,
.html-fill:focus,
.html-fill:hover {
  outline: none;
  opacity: 0.6;
}

.footer-logo:active,
.html-fill:active {
  opacity: 0.3;
}

.footer-list,
.filter-point,
.catalog-items,
.pagination {
  list-style: none;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-list li {
  margin-top: -16px;
}

.footer-list li:last-child {
  margin-right: 0;
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 426px;
}

.footer-menu li {
  margin-right: 26px;
  margin-top: 3px;
}

.footer-menu li:last-child {
  margin-right: 0;
  margin-left: 0px;
}

.footer-row .footer-menu {
  margin-left: -35px;
}

.footer-row .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: -54px;
  padding-top: 4px;
  max-width: 500px;
}

.social li {
  margin: 0 11px;
}

.social a {
  display: inline-block;
  vertical-align: middle;
  opacity: 0.3;
}

.social a:hover,
.social a:focus {
  outline: none;
  opacity: 0.6;
}

.social a:active {
  opacity: 0.1;
}

.footer-menu a:focus,
.footer-nav a:focus,
.footer-menu a:hover,
.footer-nav a:hover {
  outline: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer-menu a:active,
.footer-nav a:active {
  color: rgba(255, 255, 255, 0.3);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
  box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
  color: #000000;
}

.modal-login {
  display: none;
  width: 960px;
  height: 553px;
  padding: 98px 100px 92px 100px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  text-align: left;
}

.modal-close {
  width: 55px;
  height: 55px;
  background-color: #f0c52e;
  opacity: 0.5;
  border-radius: 50%;
  position: absolute;
  top: 22px;
  right: 22px;
  cursor: pointer;
  outline: none;
  border: none;
}

.modal-close:before,
.modal-close:after {
  width: 30px;
  height: 2px;
  z-index: 3;
  background-color: white;
  content: "";
  display: block;
  top: 25px;
  left: 12px;
  position: absolute;
}

.modal-close:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-close:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
  border: none;
}

.login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.login-form label {
  margin-bottom: 13px;
  cursor: pointer;
  margin-bottom: 39px;
}

.login-form textarea {
  font-family: "Open Sans", "Arial", sans-serif;
  width: 760px;
  resize: none;
  height: 156px;
  padding-top: 19px;
}

.login-form input,
.login-form textarea {
  font-size: 14px;
  line-height: 1.29;
  text-align: left;
  color: rgba(70, 70, 70, 0.4);
  opacity: 0.4;
  display: block;
  margin-top: 13px;
  padding-left: 20px;
  background-color: #f2f2f2;
  outline: none;
  border: none;
  border: 3px solid transparent;
}

.login-form input:hover,
.login-form textarea:hover {
  background-color: #eaeaea;
  padding-left: 20px;
}

.login-form input:focus,
.login-form textarea:focus {
  background-color: #ffffff;
  border-color: #f0c52e;
  color: #464646;
}

/*.login-form textarea:focus {*/
/*  margin-top: 10px;*/
/*}*/

.modal-error input:placeholder-shown,
.modal-error textarea:placeholder-shown {
  background-color: #f6dada;
}

.login-form input {
  width: 360px;
  height: 50px;
}

.btn-form {
  width: 200px;
}

.modal-map {
  display: none;
  width: 960px;
  height: 559px;
  background: url("../img/map-big-jpg.jpg") no-repeat center;
  background-size: contain;
}

.modal-show {
  display: block;
  -webkit-animation: bounce 0.4s;
  animation: bounce 0.4s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

.modal-exit {
  display: block;
  -webkit-animation: exit 0.4s;
  animation: exit 0.4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate(-50%, -2000px);
    transform: translate(-50%, -2000px);
  }
  70% {
    -webkit-transform: translate(-50%, -40%);
    transform: translate(-50%, -40%);
  }
  90% {
    -webkit-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translate(-50%, -2000px);
    transform: translate(-50%, -2000px);
  }
  70% {
    -webkit-transform: translate(-50%, -40%);
    transform: translate(-50%, -40%);
  }
  90% {
    -webkit-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate(-48%, -50%);
    transform: translate(-48%, -50%);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(-52%, -50%);
    transform: translate(-52%, -50%);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate(-48%, -50%);
    transform: translate(-48%, -50%);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(-52%, -50%);
    transform: translate(-52%, -50%);
  }
}

@-webkit-keyframes exit {
  0% {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  100% {
    -webkit-transform: translate(-50%, -2000px);
    transform: translate(-50%, -2000px);
  }
}

@keyframes exit {
  0% {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  100% {
    -webkit-transform: translate(-50%, -2000px);
    transform: translate(-50%, -2000px);
  }
}
