@font-face {
  font-family: "Gilroy";
  src: local("Gilroy-Light"), url("../fonts/Gilroy-Light.woff2") format("woff2"),
    url("../fonts/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy-ExtraBold"),
    url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"),
    url("../fonts/Gilroy-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Light"), local("OpenSans-Light"),
    url("../fonts/OpenSans-Light.woff2") format("woff2"),
    url("../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), local("OpenSans"),
    url("../fonts/OpenSans.woff2") format("woff2"),
    url("../fonts/OpenSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  background-color: #ffffff;
}

.wrapper {
  width: 1160px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-title {
  padding: 0;
  margin: 0;
  font-family: Gilroy, Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.47px;
  color: #000000;
  margin-left: 60px;
  margin-top: 44px;
  margin-bottom: 30px;
}

.main-header {
  width: 1160px;
  position: relative;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 53px;
  padding-bottom: 50px;
  background-color: #f7e296;
  background-image: url("../img/yellow-font.jpg");
}

.logo {
  position: absolute;
  top: -16px;
}

.section-title {
  margin: 0;
  font-size: 47px;
  line-height: 48px;
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  color: #000000;
}

.main-header ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-list {
  display: flex;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container:last-of-type {
  margin-top: 40px;
}

.user-container,
.catalog-container {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.services li:first-child {
  padding-right: 38px;
}

.divide li:first-child {
  padding-right: 41px;
}

.icon {
  margin-right: 10px;
}

.search-line {
  color: #000000;
  opacity: 0.3;
  background-color: transparent;
  border: none;
  border-bottom: solid 2px transparent;
  height: 49px;
}

.search-line:hover {
  opacity: 0.6;
  outline: none;
}

.search-line:focus {
  opacity: 1;
  border-bottom-color: black;
  outline: none;
}

.search-btn {
  display: none;
  font-size: 11px;
  padding: 0 21px;
  height: 49px;
  width: 85px;
  border: solid 2px #000000;
  background-color: transparent;
  color: #000000;
  letter-spacing: 0.15px;
}

.search-btn:hover {
  color: #ffffff;
  outline: none;
}

.search-btn:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.header-menu,
.btn,
.footer-menu,
.offer {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.header-navigation a,
.header-menu a {
  color: #000000;
}

.catalog-hidden {
  position: absolute;
  display: none;
  font-family: "Open Sans", Arial, sans-serif; /*Здесь оставила, потому что без указания шрифта, он наследует свойство от header-menu шрифт  Gilroy, Arial, sans-serif;*/
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: #000000;
  list-style: none;
  text-transform: none;
}

.header-navigation a:hover,
.header-menu a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header-navigation a:active,
.header-menu a:active {
  color: rgba(0, 0, 0, 0.3);
}

.btn {
  color: #000000;
  background-color: #f0c52e;
  outline: none;
}

.delivery {
  margin-top: 188px;
}

.line-block:before {
  content: "";
  display: block;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.position {
  margin-top: 51px;
  margin-bottom: 59px;
}

.information {
  display: flex;
  justify-content: space-between;
  padding: 93px 0;
}

.information-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.write-us,
.about-us {
  display: flex;
  width: 260px;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: 85px;
}

.hidden {
  display: none;
}

.about-us:hover:before {
  height: 100%;
}

.about-us-list {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: #000000;
  list-style: circle;
}

.selfie-title {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.47px;
  font-weight: 800;
  color: #000000;
}

.selfie-description {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36px;
  color: #000000;
}

.selfie-feature {
  font-size: 13px;
  line-height: 20px;
}

.catalog-section {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  list-style: none;
}

.catalog-section a {
  color: #000000;
}

.offer:active {
  color: #f7e184;
  background-color: #000000;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  margin-bottom: 49px;
  display: flex;
  margin-left: 60px;
  font-size: 14px;
  line-height: 24px;
  list-style: none;
}

.breadcrumbs li {
  display: flex;
  align-items: center;
}

.breadcrumbs li:not(:last-child):after {
  content: "";
  display: block;
  width: 4px;
  height: 7px;
  background: url("../img/nav-arrow.svg") no-repeat center;
  margin: 0 16px;
}

.breadcrumbs a {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: #000000;
}

.filter-wrapper {
  background-color: #efefef;
}

.filter {
  width: 328px;
  padding-left: 60px;
  border-top: none;
}

.filter-font {
  padding: 24px 0 24px 60px;
  background-color: #d9d9d9;
}

.fieldset {
  border: none;
}

.filter-point {
  padding: 0;
}

.filter-color {
  padding-top: 65px;
}

.filter-btn {
  margin-top: 60px;
}

.main-page {
  color: rgba(0, 0, 0, 0.3);
}

.filter-item,
.pagination-figuration {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  line-height: 24px;
  letter-spacing: 3.2px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
}

.filter-color,
.catalog-items a {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

.filter-sorting {
  background-color: #efefef;
  padding: 24px 0 24px 74px;
}

.filter-point a {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.filter-point .active,
.pagination .active {
  color: #000000;
}

.filter-point a:hover,
.pagination a:hover,
.direction:hover {
  color: rgba(0, 0, 0, 0.6);
}

.filter-point a:active,
.pagination a:active,
.direction:active {
  color: #000000;
}

.catalog-colums {
  display: flex;
  justify-content: space-between;
  z-index: 2;
  position: relative;
}

.catalog-wrapper {
  background: linear-gradient(90deg, #efefef 50%, #ffffff 50%);
  position: relative;
}

.catalog-wrapper:before {
  content: "";
  display: block;
  height: 72px;
  width: 100%;
  background: linear-gradient(90deg, #d9d9d9 50%, #efefef 50%);
  position: absolute;
  top: 0;
  z-index: 1;
}

.catalog {
  background: #ffffff;
  padding-bottom: 78px;
}

.catalog-items {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 64px;
  padding: 0;
  padding-left: 72px;
}

.catalog-items li:nth-child(2n) {
  margin-right: 0;
}

.catalog-items li {
  margin: 0;
  list-style: none;
  color: #000000;
  width: 360px;
  margin-right: 40px;
  margin-bottom: 50px;
}

.name-items {
  display: flex;
  justify-content: space-between;
}

.price {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  white-space: nowrap;
  margin-left: 31px;
}

.pagination-figuration {
  background-color: #ebebeb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  margin-left: 72px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
}
.pagination li:not(:last-of-type) {
  margin-right: 30px;
}
.pagination a {
  color: rgba(0, 0, 0, 0.3);
}

.direction {
  color: #000000;
}

.footer,
.footer-link,
.footer-menu {
  color: #ffffff;
  background-color: #464646;
}

.footer {
  padding-top: 65px;
  padding-bottom: 65px;
}

.part {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
}

.part li:first-child {
  padding-right: 44px;
}

.part li:nth-child(2) {
  padding-right: 41px;
}

.part a {
  color: rgba(255, 255, 255, 0.7);
}

.part a:hover {
  color: #ffffff;
}

.part a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-row:nth-child(2) {
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-row p,
.footer-row ul {
  margin: 0;
}

.footer-row:last-child:before {
  content: "";
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.footer-menu li {
  margin-right: 38px;
}

.footer-menu li:last-child {
  margin-right: 0;
}

.footer-list,
.filter-point,
.catalog-items,
.pagination {
  list-style: none;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-list li {
  margin-right: 22px;
}

.footer-list li:last-child {
  margin-right: 0;
}

.social a {
  opacity: 0.3;
}

.social a:hover {
  opacity: 0.6;
}

.social a:active {
  opacity: 0.1;
}

.footer-menu a:hover,
.footer-nav a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-menu a:active,
.footer-nav a:active {
  color: rgba(255, 255, 255, 0.3);
}

/*.menu-font-1 {
  background-color: #f7e296;
  width: 96px;
  height: 54px;
  padding: 53px 32px;
}
.menu-font-2 {
  background-color: #f7e296;
  width: 86px;
  height: 116px;
  padding: 43px 37px 0;
}

.menu-font-3 {
  background-color: #f7e296;
  width: 70px;
  height: 86px;
  padding: 37px 45px;
}
.menu-font-4 {
  background-color: #f7e296;
  width: 106px;
  height: 64px;
  padding: 48px 27px;
}
.about-us:before {
  display: block;
  content: "";
  height: 8px;
  width: 100%;
  background-color: #f0c52e;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: height 0.3s;
}

.about-us span {
  z-index: 1;
  position: inherit;
}

.about-us:active span {
  opacity: 0.3;
}
*/
