@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy-Light'),
  url('../fonts/Gilroy-Light.woff2') format('woff2'),
  url('../fonts/Gilroy-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy-ExtraBold'),
  url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
  url('../fonts/Gilroy-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Light'), local('OpenSans-Light'),
  url('../fonts/OpenSans-Light.woff2') format('woff2'),
  url('../fonts/OpenSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), local('OpenSans'),
  url('../fonts/OpenSans.woff2') format('woff2'),
  url('../fonts/OpenSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-header {
  background-color: #f7e296;
  background-image: url("../img/yellow-font.jpg");
}

.section-title {
  font-size: 47px;
  line-height: 48px;
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  color: #000000;
}

.header-navigation,
.header-menu {
  list-style: none;
}

.header-menu,
.btn,
.footer-menu,
.offer {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.header-menu {
  color: #000000;
}

.header-navigation a,
.header-menu a {
  color: #000000;
}

.catalog-hidden {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: #000000;
  list-style: none;
  text-transform: none;
}

.header-navigation a:hover,
.header-menu a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header-navigation a:active,
.header-menu a:active {
  color: rgba(0, 0, 0, 0.3);
}

.about-us-list {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: #000000;
  list-style: circle;
}

.btn {
  color: #000000;
  background-color: #f0c52e;
  outline: none;
}

.footer,
.footer-link,
.footer-menu {
  color: #ffffff;
  background-color: #464646;
}

.footer-list,
.filter-point,
.catalog-items,
.pagination {
  list-style: none;
}

.footer-menu a:hover,
.footer-nav a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-menu a:active,
.footer-nav a:active {
  color: rgba(255, 255, 255, 0.3);
}

.selfie-title {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.47px;
  font-weight: 800;
  color: #000000;
}

.selfie-description {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36px;
  font-weight: 300;
  color: #000000;
}

.selfie-feature {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #464646;
}

.catalog-section {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  list-style: none;

}

.catalog-section a {
  color: #000000;
}

.offer:active {
  color: #f7e184;
  background-color: #000000;
}

.breadcrumbs {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  list-style: none;
  color: rgba(0, 0, 0, 0.3);
}

.main-page {
  color: rgba(0, 0, 0, 0.3);
}

.filter-item,
.pagination-figuration {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
}

.filter-color,
.catalog-items a {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;

}

.filter,
.filter-sorting {
  background-color: #efefef;
}

.filter-point a {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 300;
}

.filter-point a.active,
.pagination a.active {
  color: #000000;
}

.filter-point a:hover,
.pagination a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.filter-point a:active,
.pagination a:active {
  color: #000000;
}

.catalog-items a {
  list-style: none;
  color: #000000;
}

.price {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #464646;
}

.pagination-figuration {
  background-color: #ebebeb;
}

.pagination a {
  color: rgba(0, 0, 0, 0.3);
}

.pagination a.direction {
  color: #000000;
}


/*.menu-font-1 {
  background-color: #f7e296;
  width: 96px;
  height: 54px;
  padding: 53px 32px;
}
.menu-font-2 {
  background-color: #f7e296;
  width: 86px;
  height: 116px;
  padding: 43px 37px 0;
}

.menu-font-3 {
  background-color: #f7e296;
  width: 70px;
  height: 86px;
  padding: 37px 45px;
}
.menu-font-4 {
  background-color: #f7e296;
  width: 106px;
  height: 64px;
  padding: 48px 27px;
}*/


